.reading-view {
    width: min(60ch, 100% - 2rem);
    margin-inline: auto;
    padding: 0.5rem 1rem;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: baseline;

    list-style: none;

    &__tag {
        border: 1px currentColor solid;
        border-radius: 8px;
        padding: 0.1em 0.2em;
    }
}
