*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    width: 60ch;
    // margin-left: auto;
    // margin-right: auto;
    margin-inline: auto;

    >* {
        margin-block-start: 1rem;
    }
}

ul,
ol {
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: system-ui;
}

.inline-article {
    display: inline;
    border: 1px solid black;
}

.breadcrumbs {
    margin-inline: auto;
    width: fit-content;

    li {
        display: inline;

        a {
            padding-inline: 1rem;
        }

        &:last-child {
            font-weight: 600;
            padding-inline: 1rem;
        }

        &:not(:last-child)::after {
            content: "/";
        }
    }
}

.box {
    display: inline-block;
    background: red;
    width: 50px;
    aspect-ratio: 1;
    margin-inline: 25px;
    border: 1px solid black;
}

.main-action {
    position: fixed;
    // left: 50%;
    // top: 50%;
    // translate: -50% -50%;
    bottom: 2rem;
    right: 2rem;
    margin: 0;
    font-family: inherit;
    font-size: 2rem;
    padding: 0.5em 1em;
    border-radius: 16px;
    background: deeppink;
    color: white;
    font-weight: 600;
    border: 2px solid currentColor;
    line-height: 1;
}

.dropping {
    position: relative;
    top: 100px;
}

.container {
    position: relative;
    border: 1px solid black;
    aspect-ratio: 1;
    background: turquoise;

    .container-center {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
    }
}