*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

ul, ol, menu {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

html, body, main {
    height: 100%;
}

html {
    font-size: 1.2rem;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    color: hsl(0deg 0% 5%);
}

.grid-12 {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

#product {
    grid-area: 3 / 3 / 11 / 11;
    gap: 6px;

    background: lime;

    > * {
        border: 2px solid red;
    }

    .pic {
        grid-area: 1 / 1 / 10 / 8;
    }

    .gallery {
        grid-area: 10 / 1 / 13 / 8;
    }

    .extra-data {
        grid-column-end: span 5;
        grid-row-end: span 2;
    }

    .shipping {
        grid-area: 7 / 8 / -1 / -1;
    }
}
