.reel {
    display: flex;
    gap: 1rem;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: baseline;

    &__break {
        margin-inline-start: auto;
    }
}

.stack > * + * {
    margin-block-start: var(--stack-gutter, 2rem);
}
