*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: calc(1.2rem + 0.05vw);
}

body {
    font-family: system-ui;
    line-height: 1.5;
}

#circle {
    background: hsl(0 100 80);
    height: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid black;
    margin: 3rem;
}

* {
    margin: 0;
}

#box {
    font-size: 2rem;
    background: hsl(180deg 100 80);
    border: 2px solid black;
    width: fit-content;
    padding: 1em;
    margin: 1em 0 0 0;
    // margin-top: 1em;
}

#cube {
    background: hsl(180deg 100 80);
    border: 2px solid black;
    width: 200px;
    aspect-ratio: 1;
    padding: 20px;
    margin: 23px;
}

#button-exercise {
    background: orange;
}

button {
    font-size: 1.5rem;
    padding: 0.3em 0.6em;
    background: cornflowerblue;
    color: seashell;
    border: 2px solid currentColor;
    margin: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 1;

    &:hover {
        background: royalblue;
    }

    &:active {
        background: seashell;
        color: cornflowerblue;
    }
}
