:root {
    --color-primary: blue;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: calc(1.2rem + 0.05vw);
    line-height: 1.5;
}

body {
    font-family: system-ui;
}

main > * + * {
    margin-block-start: 2rem;
}

.reading-container {
    --_inline-margin: 1rem;
    --_screen-size-lg: 75ch;
    --_screen-size-sm: calc(100% - 2 * var(--_inline-margin));

    width: min(
        var(--_screen-size-lg),
        var(--_screen-size-sm)
    );
    margin-inline: auto;
}

.content-sm {
    --_screen-size-lg: 45ch;
}
