body {
    text-align: center;
}

h2 {
    font-family: sans-serif;
}

ul {
    width: 30ch;
    margin: auto;
    text-align: left;
}

p {
    font-family: system-ui;
}

.cool-paragraph {
    font-family: David;
}

.bg-deeppink {
    background: deeppink;
}

#second-header {
    font-size: 1.2rem;
}