*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
}

body {
    font-family: system-ui;
}

main {
    width: min(70ch, 100% - 2rem);
    margin-inline: auto;
}

button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

textarea {
    resize: none;
}

.form-input {
    display: flex;
    flex-direction: column;

    &--inline {
        flex-direction: row;
        gap: 0.5rem;
        align-items: baseline;
    }
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
